<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevopointScanAutomation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RevopointScanAutomation.Properties.Settings>
            <setting name="SavedValue_RevoScanApplicationPath" serializeAs="String">
                <value>C:\Program Files\Revo Scan 5\RevoScan5.exe</value>
            </setting>
            <setting name="SavedValue_PauseTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SavedValue_StartButtonX" serializeAs="String">
                <value>1440</value>
            </setting>
            <setting name="SavedValue_StartButtonY" serializeAs="String">
                <value>322</value>
            </setting>
            <setting name="SavedValue_RevoScanWindowWidth" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="SavedValue_RevoScanWindowHeight" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="SavedValue_ScanDuration" serializeAs="String">
                <value>10</value>
            </setting>
        </RevopointScanAutomation.Properties.Settings>
    </userSettings>
</configuration>